@page

@{
    //ViewData["Title"] = "Log out";
}

<div class="row">
    <div class="col-md-5">
        <h2>Log out</h2>
        <form asp-action="LogoutImpl" method="POST">
            <button type="submit" class="btn btn-primary">Log out</button>
        </form>
    </div>
</div>